node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Supabase
supabase/.branches
supabase/.temp
